.menu {
  display: inline-block;
  float: left;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.col-md-9, .col-md-12 {
  width: 120%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.carousel {
  position: relative;
}
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.carousel-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: .6s ease-in-out left;
       -o-transition: .6s ease-in-out left;
          transition: .6s ease-in-out left;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  line-height: 1;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-inner > .item {
    -webkit-transition: -webkit-transform .6s ease-in-out;
         -o-transition:      -o-transform .6s ease-in-out;
            transition:         transform .6s ease-in-out;

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-perspective: 1000px;
            perspective: 1000px;
  }
  .carousel-inner > .item.next,
  .carousel-inner > .item.active.right {
    left: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  .carousel-inner > .item.prev,
  .carousel-inner > .item.active.left {
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  .carousel-inner > .item.next.left,
  .carousel-inner > .item.prev.right,
  .carousel-inner > .item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}
.carousel-inner > .active {
  left: 0;
}
.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel-inner > .next {
  left: 100%;
}
.carousel-inner > .prev {
  left: -100%;
}
.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}
.carousel-inner > .active.left {
  left: -100%;
}
.carousel-inner > .active.right {
  left: 100%;
}
.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  background-color: rgba(0, 0, 0, 0);
  filter: alpha(opacity=50);
  opacity: .5;
}
.carousel-control.left {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .0001)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel-control.right {
  right: 0;
  left: auto;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .5)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel-control:hover,
.carousel-control:focus {
  color: #fff;
  text-decoration: none;
  filter: alpha(opacity=90);
  outline: 0;
  opacity: .9;
}
.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  margin-top: -10px;
}
.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
  left: 50%;
  margin-left: -10px;
}
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
  right: 50%;
  margin-right: -10px;
}
.carousel-control .icon-prev,
.carousel-control .icon-next {
  width: 20px;
  height: 20px;
  font-family: serif;
  line-height: 1;
}
.carousel-control .icon-prev:before {
  content: '\2039';
}
.carousel-control .icon-next:before {
  content: '\203a';
}
.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 10px;
}
.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: #fff;
}
.carousel-caption {
  width: 100%;
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
.carousel-caption .btn {
  text-shadow: none;
}
.slide-image {
    width: 100%;
}
.carousel-holder {
    max-width: inherit;
    position: relative;
    margin-left: ;
    margin-right: 0%;
    margin-top: 13%;
    width: 85.1%;
    height: ;
}
.carousel-inner > .item > img {
  width: 1920px;
  height: 380px;

}
.carousel-control, .item {
    border-radius: 4px;
}

}
@media (min-width: 768px) {
  .navbar {
    border-radius: 4px;
  }
}
@media (min-width: 768px) {
  .navbar-header {
    float: left;
  }
}
.navbar-collapse {
  padding-right: 15px;
  padding-left: 15px;
  overflow-x: visible;
  -webkit-overflow-scrolling: touch;
  border-top: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
}
.navbar-collapse.in {
  overflow-y: auto;
}
@media (min-width: 1200px) {
  .carousel-holder {
    margin-top: 14%;
    margin-left: -2em;
    width: 989px;
  }
  .carousel-inner > .item > img {
    height: 380px;
    width: 1158px;
  }
  .img-logo-sociaux-f {
    margin-top: 1em;
    margin-left: 1em;
  }
  .img-logo-sociaux-l {
    margin-top: 1em;
    margin-left: 1em;
  }
  .navbar-nav {
    margin-top: 3em;
  }
  .nav {
    margin-top: em;
    margin-right: 3.2em;
  }
  .nav-principal {
    margin-top: 13.7em;
    width: 5000px;
  }
  .nav-right {
    width: 2000px;
    margin-right: ;
  }
}
@media screen and (max-width: 1200px) {
  .entreprise-image {
    max-width: 610px;
    max-height: 250px
  }
  .service-image {
    max-width: 612px;
    max-height: 250px;
  }
  .carousel-holder {
    margin-top: 17%;
    max-width: 1062px;
  }
  .carousel-inner > .item > img {
    max-height: 350px;
    max-width: 930px;
  }
  .nav-header {
    height: 100px;
  }
  .container > .navbar-right {
    margin-left: 8em;
    width: 100px;
  }

}
@media (max-width: 991px) {
  .carousel-holder {
    margin-top: 30.4%;
    max-width: 1070px;
  }
  .carousel-inner > .item > img {
    max-height: 280px;
    max-width: 706px;
  }

  .img-logo-sociaux-f {
    margin-top: 1em;
    margin-left: 1em;
  }
  .img-logo-sociaux-l {

    margin-top: 1em;
    margin-left: 1em;
  }
  .nav {
    width: 518px;
    margin-right: 30.3em;
    margin-top: 0.2em;
  }

  .nav-right > .navbar-right > .lien-nav {
    margin-left: 4em;
  }
  .nav-right > .navbar-right > .tel-nav {
    margin-left: 7.4em;
  }
  .nav-right > .navbar-right > .position-link-nav-f {
    margin-top: 1em;
    margin-left: 7em;
  }
  .nav-right > .navbar-right > .position-link-nav-l {
    margin-top: 0.75em;
    margin-left: 7em;
  }
  .navbar-nav {
    margin-top: 2em;
  }
  .nav-principal {
    margin-top: 14em;
    margin-right: em;
  }
  .navbar-brand > .logo-mara {
    width: 100px;
  }
}
@media (max-width: 986px) {
  .entreprise-image {
    max-width: 330px;
    max-height: 200px;
  }
  .service-image {
    max-width: 330px;
    max-height: 200px;
  }
  .carousel-holder {
    margin-top: 28%;
    max-width: 670px;
  }
  .carousel-inner > .item > img {
    max-height: 300px;
    max-width: 720px;
  }
  .navbar-nav {
    width: 100px;
    margin-top: 1em;
    background-color: #960000;
  }
}
@media (max-width: 767px) {
  .carousel-holder {
    margin-top: 28%;
    width: 625px;
  }
  .carousel-inner > .item > img {
    height: 300px;
    width: 750px;
  }
  .navbar-collapse > .nav-right {
    margin-right: 50em;
    margin-bottom: -14em;
  }
  .navbar-collapse > .nav-principal {
    margin-left: 1.1em;
    ;
  }
}
@media (max-width: 740px) {
  .carousel-holder {
    margin-top: 29.5%;
    width: 590px;
  }
  .carousel-inner > .item > img {
    height: 255px;
    width: 680px;
  }
}
@media (max-width: 680px) {
  .carousel-holder {
    margin-top: 29.6%;
    width: 546px;
  }
  .carousel-inner > .item > img {
    height: 300px;
    width: 632px;
  }
}
@media (max-width: 600px) {
  .carousel-holder {
    margin-top: 37%;
    width: 478px;
  }
  .carousel-inner > .item > img {
    height: 200px;
    width: 545px;
  }
}
@media (max-width: 560px) {
  .carousel-holder {
    margin-top: 28%;
    width: 465px;
  }
  .carousel-inner > .item > img {
    height: 250px;
    width: 530px;
  }
}
@media (max-width: 490px) {
  .carousel-holder {
    margin-top: 33%;
    width: 395px;
  }
  .carousel-inner > .item > img {
    height: 220px;
    width: 450px;
  }
}

@media (max-width: 414px) {
  .carousel-holder {
    margin-top: 38.2%;
    width: 342px;
  }
  .carousel-inner > .item > img {
    height: 200px;
    width: 380px;
  }
}
@media (max-width: 375px) {
  .carousel-holder {
    margin-top: 38.2%;
    width: 312px;
  }
  .carousel-inner > .item > img {
    height: 200px;
    width: 345px;
  }
}
@media (max-width: 360px) {
  .carousel-holder {
    margin-top: 38.2%;
    width: 300px;
  }
  .carousel-inner > .item > img {
    height: 200px;
    width: 345px;
  }
}
@media (max-width: 320px) {
  .carousel-holder {
    margin-top: 47.2%;
    width: 268px;
  }
  .carousel-inner > .item > img {
    height: 200px;
    width: 293px;
  }
}
@media (min-width: 768px) {
  .navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-y: visible;
  }
  .navbar-fixed-top .navbar-collapse,
  .navbar-static-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
  }
}
.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
  max-height: 1800px;
}
@media (max-device-width: 480px) and (orientation: landscape) {
  .navbar-fixed-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    max-height: 200px;
  }
}
.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 768px) {
  .container > .navbar-header,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}
  .col-md-9 {
    padding-top: 7.3%;
    width: 100%;
  }
.format-fb-page {
  width: 100px;
  margin-top: 5%;
}
.fb-page {
  width: 500px;
  margin-top: 4.5em;
  margin-left:-1%;
}
.nav {
  background-color: whitesmoke;
}
.navbar-nav {
  background-color: #cccccc;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  width: 1158px;
  position: relative;
  margin-top: -0.8em;
  margin-left: -1em;
  border-top-left-radius: 40px;
}

.navbar-header {
  margin-top: -1em;
  margin-left: 1em;
  height: 170px;

}
.navbar-right {
  width: 533px;
  height: 120px;
  margin-right: -0.3em;
  margin-top: 1.1em;
  background-color: whitesmoke;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  border-bottom: solid #d4d3d3 5px;
  border-left: solid #d4d3d3 5px;
  border-top: solid #d4d3d3 5px;
  border-right: solid #d4d3d3 5px;
}

.nom-entreprise {
  font-size: 18px;
  margin-left: .8em;
  margin-top: -0.1em;
  background-color: whitesmoke;
}
.font-mara {
  margin-left: 1.5em;
  margin-top: 0.14em;
  color: #960000;
}
.font-mara:hover {
  color: #960000;
}
.navbar-default {
  height: 205px;
  background-color: #ececec;
}
.logo-mara {
  width: 250px;
  height: 160px;
  margin-top: 0.23em;
  margin-left: 5em;
}
.lien-nav {
  width: 600px;
  margin-left:5em;
  margin-top: 0.5em;
  font-size: 20px;
  color: #;
  font-family: adelle;
  }
}
.lien-mara {
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}
.lien-mara:hover {
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}
.lien-contact {
  width: 220px;
  padding-left: 2em;
  border-top: solid #cccccc 5px;

}
.lien-contact:hover {
  border-top: solid #d62c2c 5px;

}
.lien-entreprise {
  width: 250px;
  border-top: solid #cccccc 5px;
  padding-left: 1em;
  margin-left: em;
}
.lien-entreprise:hover {
  border-top: solid #d62c2c 5px;
}
.lien-service {
  width: 270px;
  border-top: solid #cccccc 5px;
  padding-left: 1em;
  margin-left: em;
}
.lien-service:hover {
  border-top: solid #d62c2c 5px;
}
.lien-font-nav {
  color: #666666;
}
.lien-font-nav:hover {
  background-color: whitesmoke;
  color: #d62c2c;
}
@media (max-width: 1200px) {
  .navbar-nav {
    width: 1105px;
    margin-top: -em;
  }
  .navbar-right{
    margin-top: 1em;
    margin-left: em;
  }
}
@media (max-width: 1199px) {
  .navbar-nav {
    margin-left:0.15em;
    width: 928px;
  }
  .navbar-right {
    margin-right: 0.87em;
  }
}
@media (max-width: 991px) {
  .navbar-nav {
    margin-left: -0.005em;
    width: 705px;
  }
  .navbar-right {
    margin-right: 1em;
    width: 450px;
  }
  .lien-entreprise {
    width: 160px;
  }
  .lien-service{
    width: 190px;
  }
  .lien-contact {
    width: 155px;
  }
  .img-logo-sociaux-f {
    margin-left: -3em;
  }

}
@media (max-width: 767px) {
  .navbar-collapse > .navbar-nav {
    border-top-left-radius: 1px;
    width: 1000px;
    margin-top: 0em;
    margin-left: -em;
  }
  .navbar-collapse > .navbar-right {
    width: 950px;
    margin-top: -0.06em;
    margin-left: -em;
  }
  .navbar-toggle {
    margin-right: 4em;
    margin-top: 8em;
  }
  .navbar-brand {
    margin-left: 1em;
    margin-top: em;
  }
  .navbar-default {
    height: 150px;
  }
}
@media (max-width: 375px) {
  .imgDistinction {
    margin-left: em;
    margin-bottom: 4em;
    max-width: 200px;
    max-height: 150px;
  }
}
.font-family-nav {
  font-family: adelle;
  font-size: 22px;
}
.font-mara {
  font-size: 23px;
}
.tel-nav {
  font-size: 12px;
  margin-top: 1em;
  margin-left: 8.5em;
  color: #666666;
  font-family: adelle;
}
.fax-nav {
  font-size: 12px;
  margin-left: 8.5em;
  color: #666666;
  font-family: adelle;
}
.sr-only {
  margin-top: -20%;
}
#navbarCollapse {
  background-color: whitesmoke;
  height: 80%;
}
.image-slide {
  width: 50%;
}
.tel {
  font-family: adelle;
}
.img-logo-sociaux-f {
  margin-top: -9em;
  margin-left: 19.5em;
  width: 27px;
}
.img-logo-sociaux-l {
  margin-left: 19.5em;
  margin-top: -8em;
  width: 27px;
}
.lien-l {
  margin-top: -0.24em;
  margin-left: 3.5em;
  width: 27px;
  height: 30px;
}
.mot-de-bienvenue {
  font-family: adelle;
  color: #555555;
}
.link-position {
  margin-left: 0.4em;
}
.entreprise-link {
  margin-left: 10%;
  background-image: :
}
.entreprise-image {
  margin-left: 1em;
  margin-top: 1em;
  width: 600px;
  height: 265px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.service-image {
  margin-left: 0.46em;
  margin-top: 1em;
  height: 285px;
  width: 600px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.inline-image {
  display: inline-block;
}
.bodyEntreprise {
  padding-top: 10%;
}
p, li {
  font-size: 20px;
  font-family: adelle;
}
h1 {
  font-size: 14px;
}
h2.notreEntreprise_text{
  font-family: adelle;
  border-bottom: solid whitesmoke 3px;
  font-weight: bold;
}
h3, h2.text-title {
  color: #555555;
}
footer {
  margin-top:4em;
}
.text-title {
  font-size: 37px;
}
.imgEquipe {
  margin-top: 2em;
  margin-left: 2.5em;
  width: 180px;
  height: 195px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.imgEquipe-chantal {
  margin-top: 2em;
  margin-bottom: 4em;
  margin-left: 2.5em;
  width: 180px;
  height: 195px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.text {
  align: center;
  margin-top: 2.5em;
  margin-left: 3em:
}
.imgDistinction {
  width: 410px;
  height: 270px;
  margin-left: 3.4em;
  margin-top: -em;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

}
.imgMission {
  margin-top: em;
  margin-left: 3.6em;
  height: 190px;
  width: 398px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.title {
  font-size: 45px;
  margin-top: 1.5em;
}
.footerpage {
  margin-top: 5em;
}
.imgInvestisseurs {
  margin-top: 3em;
  margin-left: em;
  width: 460px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.imgEntreprise {
  margin-top: 3em;
  margin-left: 7.1em;
  width: 460px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.sous-title {
  font-size: 20px;
  text-decoration: underline;
}
.spaceAdressContact {
  background-color: ;
  margin-top: 17em;
}
.adressContact {
  border-top: solid #999999 4px;
  border-bottom: solid #999999 4px;
  border-left: solid #999999 4px;
  border-right: solid #999999 4px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 244px;
  width:240px;
  margin-left: 12.5em;
  margin-top: -6.1em;
}
.textAdress {
  margin-top: em;
  font-size: 15px;
  padding-left: 0.7em;
}
.textAdresse2 {
  margin-top: 3.5em;
}
.text-martine {
  margin-top: 2.5em;
}
.text-sarah {
  margin-top: 2.5em;
}
.text-chantal {
  margin-top: 2em;
}
.moveText {
  margin-top: -3em;
}
.title-investisseur {
  margin-top: 0.5em;
}
.imgInvestisseurs {
  margin-top: -45em;
  margin-left: 1.7em;
  max-width: 450px;
}
.imgEntreprise {
  margin-top: 1em;
  max-width: ;
}
.navbar-default {
  height: 206px;
}
.nav {
  height: 61px;
}
.navbar-right {
  height: 120px;
}
.lien-entreprise {
  width: 300px;
}
.lien-service {
  width: 300px;
}
.lien-contact {
  width: 300px;
}
@media (max-width: 1199px) {
  .adressContact {
    margin-left: 5.2em;
  }
  .imgEquipe-chantal {
    margin-top: 5em;
  }
  .text-chantal {
    margin-top: 5.5em;
  }
  .moveText {
    margin-top: -1em;
  }
  .font-family-nav {
    font-size: 18px;
  }
  .lien-entreprise {
    width: 270px;
  }
  .lien-service {
    width: 270px;
  }
  .lien-contact {
    width: 260px;
  }
 @media (max-width: 991px) {
  .adressContact {
    margin-left: 3em;
  }
  .font-family-nav {
    font-size: 15px;
  }
  .lien-entreprise {
    width: 180px;
  }
  .lien-service {
    width: 220px;
  }
  .lien-contact {
    width: 180px;
  }
  .text-sarah {
    margin-left: 17.5em;
    margin-top: -13em;
  }
  .imgEquipe-chantal {
    margin-top: 4em;
  }
  .text-chantal {
    margin-left: 17.2em;
    margin-top: -17em;
  }
}
@media (max-width: 767px) {
  .text-martine {
    margin-left: 17.5em;
    margin-right: 1em;
    margin-top: -13.5em;
  }
}
@media (max-width: 375px) {
  .navbar-toggle {
    margin-top: 8.3em;
    margin-right: 2.5em;
  }
  .imgDistinction {
    max-width: 300px;
    max-height: 180px;
    margin-left: 1.5em;
    margin-top: 1em;
  }
  .imgMission {
    margin-left: 1.5em;
    margin-top: 1em;
    width: 300px;
  }
  .title-mission {
    margin-top: -5.5em;
  }
  .textMission {
    margin-top: -11em;
  }
  .navbar-brand {
    margin-top: em;
    margin-left: 0.5em;
  }
  .imgEquipe {
    margin-left: 6.8em;
  }
  .imgEquipe-chantal {
    margin-top: 2em;
    margin-left: 6.8em;
  }
  .text-martine {
    margin-top: 1.5em;
    margin-left: 3em;
    margin-right: 3em;
  }
  .text-sarah {
    margin-top: 1.5em;
    margin-left: 3em;
    margin-right: 3em;
  }
  .text-chantal {
    margin-top: -2.5em;
    margin-left: 3em;
    margin-right: 3em;
  }
}
@media (max-width: 320px) {
  .navbar-brand {
    margin-left: 0.4em;
    margin-top: -8.6em;
  }
  .navbar-toggle {

  }
}
#mission {
  margin-top: 70%;
}
